@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 180 50% 96%;
    --foreground: 224 71.4% 4.1%;
    --card: 180 60% 98%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 180 60% 98%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 81 86% 60%;
    --primary-foreground: 81 86% 10%;
    --secondary: 180 20% 90%;
    --secondary-foreground: 180 100% 25%;
    --muted: 180 20% 93%;
    --muted-foreground: 180 10% 40%;
    --accent: 265 97% 76%;
    --accent-foreground: 265 97% 15%;
    --destructive: 14 79% 55%;
    --destructive-foreground: 0 0% 98%;
    --border: 180 20% 85%;
    --input: 180 20% 88%;
    --ring: 81 86% 60%;
    --chart-1: 81 86% 60%;
    --chart-2: 265 97% 76%;
    --chart-3: 35 92% 65%;
    --chart-4: 220 83% 69%;
    --chart-5: 0 84% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 200 20% 7%;
    --foreground: 210 20% 98%;
    --card: 200 20% 12%;
    --card-foreground: 210 20% 98%;
    --popover: 200 20% 12%;
    --popover-foreground: 210 20% 98%;
    --primary: 81 86% 60%;
    --primary-foreground: 81 86% 15%;
    --secondary: 200 20% 15%;
    --secondary-foreground: 210 20% 98%;
    --muted: 200 20% 15%;
    --muted-foreground: 200 10% 60%;
    --accent: 265 97% 76%;
    --accent-foreground: 265 97% 15%;
    --destructive: 14 79% 55%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 20% 20%;
    --input: 200 20% 20%;
    --ring: 81 86% 60%;
    --chart-1: 81 86% 60%;
    --chart-2: 265 97% 76%;
    --chart-3: 35 92% 75%;
    --chart-4: 220 83% 79%;
    --chart-5: 0 84% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
